@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #6a3aa2;
    --secondary: #fbfbff;
    --border: #e6e6e6;
  }
}

@layer base {
  * {
    @apply border-border;
  }
}
