@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --text-primary: #6A3AA2;
    --text-secondary: #4A5568;
    --secondary: #FBFBFF;
    --border: #E6E6E6;
    --box-shadow: 2px 2px 6px 0px #543c9740;
    --font-open-sans: "Open Sans", sans-serif;
  }
}

@layer base {
  * {
    @apply border-border;
  }
}